html {
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(18, 194, 233);
  background: linear-gradient(
    90deg,
    rgba(18, 194, 233, 1) 4%,
    rgba(196, 113, 237, 1) 52%,
    rgba(246, 79, 89, 1) 98%
  );
  color: #f5f5f5;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.page-header {
  text-align: center;
}

.status,
.winner-title {
  margin-bottom: 1rem;
  text-align: center;
}

.reset {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.reset button {
  background: rgba(0, 0, 0, 0);
  border: none;
  color: #f5f5f5;
  font-size: 2rem;
  font-weight: bold;
}

.reset button:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.board {
  text-align: center;
}

.container,
.button-container {
  display: flex;
  justify-content: center;
}

.button-container {
  margin-bottom: 2rem;
}

.history-button {
  font-weight: bold;
  float: left;
  width: 2rem;
  border: 3px solid rgba(131, 58, 180, 0.3);
  color: #f5f5f5;
  background: rgba(0, 0, 0, 0);
}

.history-button:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.history-button:focus {
  outline-color: rgba(196, 113, 237, 1);
}

.board-grid {
  display: grid;
  grid-template-columns: auto auto auto;
  float: left;
}

.square {
  border: 3px solid rgba(131, 58, 180, 0.3);
  background: rgba(0, 0, 0, 0);
  font-size: 2rem;
  font-weight: bold;
  height: 8rem;
  margin-right: -1px;
  margin-top: -1px;
  text-align: center;
  padding: 0;
  width: 8rem;
  color: #f5f5f5;
}

.square:hover {
  background-color: rgba(255, 255, 255, 0.3) !important;
}

.grow {
  transition: all 0.5s ease-out;
}

.grow:active {
  transform: scale(1.4);
}

.confetti-container {
  display: block;
  margin: 0 auto 0 auto;
}

.confetti-container div {
  /* override inline style set by react-confetti*/
  position: fixed !important;
  left: 50%;
}
