body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button:disabled {
  color: black;
}

.title {
  text-align: center;
}

.status {
  margin-bottom: 1rem;
  text-align: center;
}

.board {
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
}

.board-grid {
  display: grid;
  grid-template-columns: auto auto auto;
  float: left;
}

.square {
  border: 1px solid;
  background: #fff;
  font-size: 2rem;
  font-weight: bold;
  height: 3rem;
  margin-right: -1px;
  margin-top: -1px;
  text-align: center;
  padding: 0;
  width: 3rem;
}

.square:focus {
  outline: none;
}

.history-set {
  list-style-type: none;
  text-align: center;
  padding: 0;
}
