html {
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(18, 194, 233);
  background: linear-gradient(
    90deg,
    rgba(18, 194, 233, 1) 4%,
    rgba(196, 113, 237, 1) 52%,
    rgba(246, 79, 89, 1) 98%
  );
  color: #f5f5f5;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button:disabled {
  color: black;
}

.title {
  text-align: center;
}

.status {
  margin-bottom: 1rem;
  text-align: center;
}

.slider {
  text-align: center;
}

.board {
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
}

.board-grid {
  display: grid;
  grid-template-columns: auto auto auto;
  float: left;
}

.square {
  border: 3px solid rgba(131, 58, 180, 0.3);
  background: rgba(0, 0, 0, 0);
  font-size: 2rem;
  font-weight: bold;
  height: 8rem;
  margin-right: -1px;
  margin-top: -1px;
  text-align: center;
  padding: 0;
  width: 8rem;
  color: #f5f5f5;
}

.square:focus {
  outline: none;
}

.square:hover {
  background-color: rgba(255, 255, 255, 0.3);
}
